<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/layui/css/layui.css"  media="all">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
  <link href="/stylesheets/jquery.modal.css" rel="stylesheet">
  <script src="/javascripts/jquery.modal.js"></script>
  <script>
    $.fn.btnLoading = function(option) {
      if (option !== 'close') {
        $(this).attr('data-text', $(this).text())
          .attr('disabled', 'disabled')
          .css({backgroundColor: '#ccc'})
          .text('处理中...');
      } else {
        $(this).removeAttr('disabled')
          .css({backgroundColor: '#009688'})
          .text($(this).attr('data-text'));
      }
    }
  </script>
  <title><%=title%></title>
</head>
<body>
  <input type="hidden" id="token" value="<%=token %>">
  <header class="header">
    <div class="layui-container">
      <ul class="layui-nav top-nav">
        <li class="layui-nav-item"><img src="/images/fastmock-logo.jpg" alt=""/></li>
        <li class="layui-nav-item">
          <a href="/admin/users?pageNo=1&pageSize=15"><span class="layui-icon layui-icon-username"></span> 用户列表</a>
        </li>
        <li class="layui-nav-item">
          <a href="/admin/feedbacks?pageNo=1&pageSize=15"><span class="layui-icon layui-icon-release"></span> 用户反馈列表</a>
        </li>
      </ul>
    </div>
    
  </header>
  <div class="layui-container">
      <%-body -%>
  </div>
</body>
</html>