.DS_Store
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
fastmock.sql

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/fe/node_modules
/fe/.pnp
/fe/.pnp.js

# testing
/fe/coverage

# production
/fe/build

# misc
/fe/.DS_Store
/fe/.env.local
/fe/.env.development.local
/fe/.env.test.local
/fe/.env.production.local
