.animated{
  animation-duration: .5s;
}
.animated-1s{
  animation-duration: 1s;
}
.animated-2s{
  animation-duration: 2s;
}
.customFadeIn{
  animation-name: customFadeIn;
}
@keyframes customFadeIn{
  0% {
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.customZoomIn {
  animation-name: customZoomIn;
  animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1)
}
@keyframes customZoomIn{
  0% {
    transform: scale(.5);
    opacity: 0.8;
  }
  100%{
    transform: scale(1);
    opacity: 1;
  }
}
.customClipX {
  animation-name: customClipX;
  transform-origin: 50% 50%;
  animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1)
}
@keyframes customClipX{
  0% {
    transform: scaleY(.1);
    opacity: 0.8;
  }
  100%{
    transform: scaleX(1);
    opacity: 1;
  }
}
.customUpAndDown{
  animation-name: customUpAndDown;
  animation-timing-function: linear;
  animation-iteration-count: 10
}
@keyframes customUpAndDown{
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  100%{
    transform: translateY(0);
  }
}
.customBreath{
  animation-name: customBreath;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite
}
@keyframes customBreath{
  0%{
    transform: scale(1);
    color: #fff;
  }
  50%{
    transform: scale(1); color: rgb(230, 80, 21);
    text-shadow: 0 0 3px #fff;
  }
  100%{
    transform: scale(1);
    color: #fff;
  }
}