body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #f2f2f2;
}
a {
  color: #00B7FF;
}
.page-block{
  background-color: #fff;
  margin-top: 15px;
  box-shadow:  0 3px 3px #ccc;
  padding: 10px;
}
header.header{
  height: 60px;
  background-color: #393D49;
  border-color: #080808;
}
.top-nav li a{
  color: #fff;
}
.top-nav li a:hover{
  color: #00B7FF;
  background: none;
}
.table-count-info{
  font-size: 14px;
  padding: 8px;
  background-color: #f2f2f2;
}
