@import '../../../styles/var.scss';
.root-layout{
  position: fixed;
  height: 100%;
  width: 100%;
}
.layout{
  height: 100%;
}
.header{
  background-color: $color-theme;
}
.header-nav{
  margin: 0; padding: 0;
  float: left;
  margin-left: 15px;
}
.header-nav li{
  float: left;
  height: 60px;
  list-style: none;
}
.header-nav li a{
  display: block;
  padding: 0 15px;
  color: #fff;
  height: 60px; line-height: 60px;
  color: hsla(0,0%,100%,.7);
}
.ant-layout{
  background: #f5f7fa;
}
.ant-layout-content{
  overflow: auto;
}
.ant-layout-footer{
  overflow: visible;
  box-shadow: 0 0 5px #999;
  position: relative; z-index: 2
}
.header{
  .logo{
    float: left;
    font-size: 32px;
    color: hsla(0,0%,100%,.7);
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace
  }
  .right-user{
    float: right;
    color: #fff;height: 60px; line-height: 60px;
    a{
      color: #fff;
      margin: 0 10px;
      &:hover{
        color: darkgreen
      }
    }
  }
}
.page-info-action{
  height: 100px;
  padding: 25px 0;
  background-color: #fff;
  .page-logo{
    width: 50px;
    height: 50px;
    background: $color-theme;
    border-radius: 4px;
    -webkit-box-shadow: 0 10px 50px rgba(33, 121, 30, 0.4);
    box-shadow: 0 10px 50px rgba(12, 73, 25, 0.4);
    color: #fff;
    font-size: 28px;
    text-align: center;
    line-height: 50px;
  }
  .page-description{
    padding-left: 15px;
    padding-top: 5px;
    h2{
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 0px;
    }
    p{
      font-size: 12px;
      color: #9a9ca0;
      font-weight: 400;
    }
  }
  .page-act{
    height: 50px; line-height: 50px;
    text-align: right;
    .ant-btn{
      margin: 0 5px;
    }
  }
}