@import '../../styles/var.scss';
.login-body{
  position: fixed;
  z-index: 3;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &:before{
    content: " ";
    width: calc(100% - 968px);
    height: 100%;
    position: absolute;
    left: 0;
    background: #fff url('http://fastmock.cn-bj.ufileos.com/login-bg.png') right center no-repeat;
  }
  .nav{
    position: absolute;
    top: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: right;
    padding-right: 80px;
    font-size: 16px;
    font-weight: 600;
    & > *{
      margin: 0 10px;
      color: $color-theme;
    }
  }
}
.login-main{
  height: calc(100% - 124px);
  display: flex;
  flex-direction: row;
  .login-left-data{
    width: 150px;
    height: calc(100% - 124px);
    position: absolute;
    right: calc(14.479% + 440px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 57px;
  }
}
.login{
  width: 396px;
  position: absolute;
  right: 14.479%;
  top: 50%;
  transform: translateY(-50%);
}
.login-logo{
  margin-bottom: 80px;
  position: relative;
  &:before{
    content: " ";
    display: inline-block;
    border: 24px solid #d9dbee;
    padding: 30px;
    position: absolute;
    bottom: 0; left: 32px;
    z-index: 0
  }
  img{
    position: relative;
    z-index: 1
  }
}
.inset{
  position: relative;
  background: #fff;
  // padding: 2.5em;
  min-height: 320px;
}
.login-body .login-form-button {
  width: 100%;
}
h2.login-title{
  color: $color-theme;
  font-size: 24px;
  text-align: left;
  margin-bottom: 48px;
}
.login-footer{
  color: #666;
  filter: invert(100%);
  pointer-events: none;
}
.home-guide{
  position: fixed;
  width: 100%; height: 100%;
  background-color: rgba(0,0,0,.5);
  .guide-box{
    width: 270px;
    height: 150px;
    background: #fff;
    position: absolute;
    right: 80px;
    top: 50px;
    border-radius: 50%;
    text-align: center;
    font-size: 12px;
    color: $color-theme;
    padding: 20px;
    font-weight: 600;
    animation: guideBox 1.2s ease-out;
    p{
      margin-bottom: 3px;
      &:last-child{
        margin-bottom: 10px;
      }
    }
    &:before{
      content: " ";
      display: inline-block;
      border: 8px solid transparent;
      border-bottom: 30px solid #fff;
      // border-right: 15px solid #fff;
      position: absolute;
      top: -20px;
      right: 40px;
      transform: rotate(30deg);
    }
  }
}
@keyframes guideBox {
  0%{
    transform: translate(-500px, 600px) scale(.3);
    opacity: .3
  }
  100%{
    transform: translate(0) scale(1);
    opacity: 1
  }
}