@import '../../styles/var.scss';
// 隐藏代码错误提示
.ace_gutter-cell.ace_error{
  background-image: none !important;
}
.p-info{
  margin-bottom: 10px;
  p{
    height: 32px;
    background-color:#4452d518;
    line-height: 32px;
    border-radius: 16px;
    position: relative;
    padding-left: 135px;
    margin-bottom: 10px;
    &:last-child{margin-bottom: 0}
    & > span:first-child {
      display: inline-block;
      height: 32px; line-height: 32px;
      position: absolute; left: 0; top: 0;
      background-color: $color-theme;
      color: #fff;
      width: 120px;
      text-align: center;
      border-top-left-radius: 16px;
      border-bottom-left-radius: 16px;
    }
  }
}
.api-test-modal{
  position: fixed; left: 0; top: 0;
  width: 100%;
  height: 100%;
  background-color: #082b36;
  z-index: 100;
  padding: 50px;
  .test-toggle{
    position: absolute;
    bottom: 20px;
    left: 48%;
    z-index: 100
  }
}
.api-cover{
  position: absolute; right: 0; top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 100;
  .attach-main{
    background: $color-theme;
    width: 350px;
    position: absolute;
    height: 100%;
    left: 0;
    padding: 20px;
    overflow: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-shadow: 0 0 3px #000;
    box-shadow: 0 0 3px #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .form-box{
      width: 310px;
      background-color: #fff;
      -webkit-box-shadow: 0 2px 3px #777;
      box-shadow: 0 2px 3px #777;
      border-radius: 4px;
      margin-bottom: 20px;
      padding: 20px 15px;
    }
    .form-btn-bar{
      margin: 15px 0;
      width: 100%;
    }
  }
  .right-editor{
    background: #fff;
    position: relative;
    margin-left: 350px;
    height: calc(100% - 32px);
    padding-top: 32px;
    .top-actions{
      height: 32px;
      position: absolute;
      left: 0; top: 0;
      width: 100%;
      .action-name{
        font-size: 12px;
        margin-left: 10px;
      }
    }
  }
}
.ace-config-select{
  height: 32px;
  &:focus{
    outline: none;
  }
}
.ae-title{
  margin-bottom: 0  
}
.ae-control{
  margin-bottom: 15px;
}